{# file: templates/castor/_logger_layout.html.twig #}
{% extends 'base.html.twig' %}

{# Ensure Importmap tags are present on pages using this layout #}
{% block importmap %}{{ importmap('app') }}{% endblock %}

{% block body %}
  <div class="container-xl py-3">
    {% block logger_body %}{% endblock %}
  </div>
{% endblock %}
