{# file: templates/step/action/artifact.html.twig #}
<div class="action action-code card">
{#  <div class="card-header d-flex justify-content-between align-items-center">#}
{#      <span class="fw-bold text-muted">Code</span>#}
{#      {% if path %}#}
{#      <code class="text-muted">{{ path }}</code>#}
{#      {% endif %}#}
{#  </div>#}
    <div class="card-body">
        This is where the artifact will go.
    </div>
</div>
