{# file: templates/step/action/bash.html.twig #}
<div class="action action-bash card">
    <div class="card-body">
        {% if note %}
        <p class="mb-3 mt-0 text-start">{{ note }}</p>
        {% endif %}
        <pre>
            <code class="language-{{ action.highlightLanguage|default('bash') }}" data-trim data-noescape>{{ action.command|raw }}</code>
        </pre>
        {% if action.a %}
        <div class="text-start mt-3">
            <span class="fw-semibold">{{ action.a }}</span>
        </div>
        {% endif %}
    </div>
</div>
