{# file: templates/step/action/browser_visit.html.twig #}
<div class="action action-browser card">
    <div class="card-header">
        <span class="fw-bold">Browser</span>
    </div>
    <div class="card-body">
        {% if note %}
        <p class="mb-3 mt-0 text-start">{{ note }}</p>
        {% endif %}
        <a href="{{ url }}" class="btn btn-outline-primary" target="_blank" rel="noreferrer">Open {{ url }}</a>
    </div>
</div>
