{# File: templates/step/action/composer.html.twig #}
{% set prefix = cwd ? 'cd ' ~ cwd ~ " && \\\n" : '' %}
<div class="action action-bash">
  {% if note %}<div class="badge" style="margin-bottom:.25rem;">{{ note }}</div>{% endif %}
  <pre><code class="language-bash">{{- prefix -}}composer {{ cmd }}</code></pre>
</div>
