{# file: templates/step/action/console.html.twig #}
<div class="action action-console card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <span class="fw-bold text-muted">Console</span>
        <div class="d-flex gap-2">
            {% if prefer == 'symfony' %}
            <span class="badge badge-pill bg-primary text-light">symfony</span>
            {% endif %}
            {% if prefer == 'php' %}
            <span class="badge badge-pill bg-indigo text-light">php</span>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        {% if note %}
        <p class="mb-3 mt-0 text-start">{{ note }}</p>
        {% endif %}
        <pre>
            <code class="language-bash" data-trim data-noescape>{{ code|raw }}</code>
        </pre>
        {% if false and cwd %}
        <dl class="row ms-0 mt-3 w-100">
            <dt class="col-3">CWD</dt>
            <dd class="col-9"><code>{{ cwd }}</code></dd>
        </dl>
        {% endif %}
    </div>
</div>
